/* TODO (optional): Define styles for dark mode */

/* TODO (optional): Ensure text and background colors adjust for dark mode */

/* Define theme variables */
.light-theme {
  --bg-color: #ffffff;
  --text-color: #213547;
  --button-bg: #f9f9f9;
}

.dark-theme {
  --bg-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --button-bg: #1a1a1a;
}

.light-theme,
.dark-theme {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  width: 100%;
  transition:
    background-color 0.3s ease,
    color 0.3s ease; /* Smooth transition */
}

button {
  background-color: var(--button-bg);
  color: var(--text-color);
  border: 1px solid #ccc;
}
